@charset "UTF-8" ;
/*共通部分
--------------------------------*/

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.7;
}
.theme{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 4vw;
    margin:10vw 0vw 10vw 0vw;
}
.text{
    color:rgb(0, 0, 0);
    text-align: center;
    margin: -14% 9% -6% 10%;
    font-size:2vw;
}
img{
    max-width: 100%;
    text-align: center;
}
.page-header{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.wrapper {
    max-width: 2200px;
    margin: 0 auto;
    padding: 0 4%;
}




body {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /* Safari */
}
.item{
   font-size: calc(16 + ((1vw - 2.6px) * 0.86));
}

.introduce {
text-align: center;
margin: 10vw auto;
display: block;
max-width: 70vw;
}

.photo{
    text-align: center;
}
.main-movie{
    text-align: center;
}
/*スマホ向けCSS*/

@media (max-width:767px) {
.page-header {
display:block;
}

.item {
font-size: calc(16 + ((1vw - 2.6px) * .86));
 margin-bottom: 2%;
}
.logos{
margin-top: 6%;
margin-right: 4.1%;
text-align: center;
}

.introduce {
    text-align: center;
    margin: 1vw auto;
    display: block;
    max-width: 120vw;
    }
    .theme{
        color:rgb(0, 0, 0);
        text-align: center;
        margin: 8vw 5vw 8vw 10vw;
        font-size: 6vw
    }
    .text{
        color:rgb(0, 0, 0);
        text-align: center;
        margin: -7vw 10vw 8vw 15vw;
        font-size:4.5vw
    }
}